@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Gowun+Dodum&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
  font-family: "Gowun Dodum", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  color: lightgray;
}

.navbar {
  background-color: black;
  
}

.front-img {
  background-image: url(./images/background.jpg);
  background-repeat : no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  width: 100vw;
  width: 100%;
  text-align: center;
  align-items: center;
  color: white;
}

.greeting {
  padding: 12rem 0;
}

.frontpage {
  padding-top: 4rem;
  background: linear-gradient(180deg, rgb(11, 0, 15), rgb(76, 0, 93));
}

.my-intro,
.skills,
.project {
  padding-left: 1rem;
  padding-right: 1rem;
}

.my-intro {
  height: 100%;
  padding-top: 4rem;
  background: linear-gradient(180deg, rgb(76, 0, 93), rgb(187, 120, 202));
  padding-bottom: 5%;
}

.my-intro p{
  font-size: 18px;
}

.skills {
  height: 100%;
  padding-top: 4rem;
  background-color: rgb(187, 120, 202);
  color: black;
  /* display: flex; */
  /* justify-content: center; */
}

.skills-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem;
  margin-bottom: 0;
}

.card {
  background-color: rgb(215, 173, 224)!important;
  min-width: 12rem;
  max-width: 18rem;
  padding: 2rem;
  margin-bottom: 2rem;
}
.card-title {
  color: midnightblue;
  /* text-align: center; */
}
.skills-container img {
  /* margin: 2rem; */
  width: 9rem;
}

.project {
  height: 100%;
  padding-top: 4rem;
  background: linear-gradient(0, rgb(76, 0, 93), rgb(187, 120, 202));
}

.pjt-container ul {
  margin-bottom: 0;
}

.contact {
  height: 100%;
  padding-top: 4rem;
  background-color: rgb(76, 0, 93);
  margin-bottom: 50px;
}

.address p {
  text-align: left;
  margin-left: 1rem;
}


.footer {
  position: fixed;
  bottom: 0;
  background-color: black;
  width: 100%;
  height: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.django-img {
  padding: 0.5rem;
}

.address-title {
  font-size: 25px;
}